<main class="centercontent">
    <form class="singleframe">
        <div class="form container-vertical">
            {{{firstname}}}
            {{{lastname}}}
            {{{login}}}
            {{{email}}}
            {{{password}}}
            {{{repeat}}}
            {{{phone}}}
            {{{register}}}
            {{{cancel}}}
        </div>
    </form>
</main>
