<div class="chat__body">
    <div class="column column__left">
        <nav class="chat__nav">
            {{{profile}}}
            {{{search}}}
        </nav>
        <div class="scroll-y">
            <ul class="chat-list">
                <div class="chat-list-container">
                    {{{element1}}}
                    {{{element2}}}
                </div>
            </ul>
        </div>
    </div>
    <div class="column column__right">
        <main class="chat__container">
            <header class="chat__head">
                {{{usericon}}}
                <label class="chat__head__name">John Doe</label>
            </header>
            <div class="messages-list">
                <div class="messages-list__container">
                    {{{message1}}}
                    {{{message2}}}
                </div>
            </div>
            <footer class="chat__composer">
                <div class="composer">
                    {{{messageinput}}}
                    {{{sendbutton}}}
                </div>
            </footer>
        </main>
    </div>
</div>
