<main class="centercontent">
    <form class="singleframe">
        <div class="form container-vertical">
            {{{back}}}
            <div class="profile__avatar">
                <div class="profile__avatar__img">
                    {{{usericon}}}
                </div>
                <div class="profile__avatar__name">John Smith</div>
            </div>
            {{{firstname}}}
            {{{lastname}}}
            {{{login}}}
            {{{email}}}
            {{{password}}}
            {{{repeat}}}
            {{{phone}}}
            {{{save}}}
            {{{logout}}}
        </div>
    </form>
</main>
